In [1]:
# LIBRARY IMPORT
import xarray as xr
import matplotlib.pyplot as plt
import numpy as np

# Unpack the dataset
sst = xr.open_dataset('reduced_sst.nc')

In [2]:
sst

<xarray.Dataset>
Dimensions:    (latitude: 51, longitude: 81, time: 720)
Coordinates:
  * time       (time) datetime64[ns] 1951-01-16T12:00:00 1951-02-15 ...
  * latitude   (latitude) float32 0.5 1.5 2.5 3.5 4.5 5.5 6.5 7.5 8.5 9.5 ...
  * longitude  (longitude) float32 99.5 100.5 101.5 102.5 103.5 104.5 105.5 ...
Data variables:
    sst        (time, latitude, longitude) float64 nan nan nan nan 26.27 ...

In [3]:
sst_df = sst.to_dataframe().reset_index()

In [4]:
sst_df = sst_df[(sst_df['latitude']>=10) & (sst_df['latitude']<26)]
sst_df = sst_df[(sst_df['longitude']>=120) & (sst_df['longitude']<151)]

In [5]:
useful_sst = sst_df.groupby('time')['sst'].mean().reset_index()

In [6]:
useful_sst['Month']  = useful_sst['time'].apply(lambda x: x.month)

In [7]:
useful_sst = useful_sst[useful_sst['Month'] > 6]

In [8]:
useful_sst['year']  = useful_sst['time'].apply(lambda x: x.year)
useful_sst.head()

                  time        sst  Month  year
6  1951-07-16 12:00:00  29.061209      7  1951
7  1951-08-16 12:00:00  28.548788      8  1951
8  1951-09-16 00:00:00  28.929117      9  1951
9  1951-10-16 12:00:00  28.458434     10  1951
10 1951-11-16 00:00:00  27.624738     11  1951

In [9]:
useful_data = useful_sst.groupby('year')['sst'].mean().reset_index()

In [10]:
useful_data.to_csv('int_region_sst.csv',index=False)